div {
    padding-top: 375px;
}

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_basic */
.button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.majorTitle {
    font-size: 20px;
    color: white;
}

.chosenTitle {
    font-size: 18px;
    color: white;
    text-align: center;
}