div {
    padding-top: 375px;
}

/* Title */
h1 {
    text-align: center;
    font-style: oblique;
    font-size: 200%;
}

/* Top Paragraphs and Information */
h2 {
    background-color: #32a852;
    font-size: 18px;
    padding-left: 15px;
    border-style: solid ;
}

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_basic */
/* Style of the Button */
.button {
    background-color: #0e6e16; /* Green */
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

/* Style of the list for the majors shown to qualify */
.majorTitle {
    font-size: 20px;
    font-weight: bold;
    /* color: #fbceb1; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

/* Style of the list of classes the student has chosen */
.chosenTitle {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    /* color: #FF4500; */
    text-align: center;
}

/* Green Box for description of text */
.description {
    font-style: italic;
    font-size: 16px;
    margin-top: -10px;
    margin-left: 20px;
}

/* Red Box for specifics on what is needed to be aware of */
.notes {
    background-color: #b02561;
    border-style: dashed;
    margin-right: 10px;
    font-size: 14px;
    margin-left: -5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}

/* Style for the text pop-up on top of the majors listed */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -75px;
    left: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
